---
const pages = await Astro.glob("./articles/*.md");
import "../styles.css";
---

<style>
.article-list li {
  margin-top: 50px;
  list-style-type: none;
}

.article-list li a {
  color: #f38ba8;
  font-weight: bold;
  font-size: 1.6rem;
}

.overlay{
  position:fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: auto;
  margin-bottom:2%;
  margin-right: 2%;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(180,180,180,255));
}
</style>

<html lang="en">
<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<title>Kowoala's blog</title>
</head>
    <body>

            <h1 class="logo"><a href="/"><span>@</span>Kowoala</a>'s blog</h1>
            <ul class="article-list">
                {
                    pages.map((page) => (
                        <li><a href={page.url}>{page.frontmatter.title}</a> <i>{page.frontmatter.date}</i></li>
                    ))
                }
            </ul>

            <img src="res/yuyuko.png" class="overlay"/>
    </body>
</html>

